<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Enquiry Status</th>
        <th scope="col">Order Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enquiry of enquiryList">
        <td>{{ enquiry.id }}</td>
        <td>{{ enquiry.customer.id }}</td>
        <td>{{ enquiry.status }}</td>
        <td>{{ enquiry.orderStatus }}</td>
        <td>
          <a [routerLink]="[enquiry.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>